<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the Home Page</h1>
    <h4><%= 1 + 2 %></h4>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, debitis
      at! Numquam laboriosam laudantium corrupti, inventore, eligendi aliquid
      sunt, asperiores earum recusandae eveniet voluptatem nihil quisquam odio?
      Earum suscipit consectetur debitis quia ipsam beatae iste quis quas.
      Repellendus molestias perspiciatis, voluptate id temporibus enim debitis
      vero quisquam, eaque doloremque sint nihil repudiandae obcaecati natus
      dolorum, deleniti quidem maiores quibusdam sit nesciunt magnam ab. Quam
      harum mollitia magni aspernatur magnam sapiente ducimus, exercitationem
      atque eaque rerum veritatis autem fugiat. Doloribus nisi, iure sint harum
      assumenda exercitationem a cum adipisci necessitatibus ad architecto
      maiores ullam at esse expedita sapiente tempora quos amet!
    </p>
    <button>Click me</button>
  </body>
</html>
